/**
 * @author: Tom Witkowski
 * @author_url: https://github.com/Gummibeer
 */
.navbar.navbar-default {
  background: #262626;
  border: none;
  border-radius: 0;
  color: #ffffff;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-header .navbar-brand {
  color: #ffffff;
  text-decoration: none;
  background: transparent;
}
.navbar.navbar-default .navbar-header .navbar-brand:hover,
.navbar.navbar-default .navbar-header .navbar-brand:focus,
.navbar.navbar-default .navbar-header .navbar-brand:active {
  color: #ffffff;
  text-decoration: none;
  background: #237986;
}
.navbar.navbar-default .navbar-header .navbar-brand h1 {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.navbar.navbar-default .navbar-nav li a {
  color: #ffffff;
  text-decoration: none;
  background: transparent;
}
.navbar.navbar-default .navbar-nav li a:hover,
.navbar.navbar-default .navbar-nav li a:focus,
.navbar.navbar-default .navbar-nav li a:active,
.navbar.navbar-default .navbar-nav li a.active {
  color: #ffffff;
  text-decoration: none;
  background: #237986;
}
.navbar.navbar-default .navbar-nav li.dropdown ul {
  background: #262626;
  border: none;
  border-radius: 0;
  color: #ffffff;
}
.btn {
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  box-shadow: none;
  cursor: default;
}
.btn.btn-default {
  background: #888888;
  color: #ffffff;
  border-color: #888888;
}
.btn.btn-default:not(.no-hover):hover,
.btn.btn-default:not(.no-hover):focus,
.btn.btn-default:not(.no-hover):active {
  background: #6f6f6f;
  border-color: #6f6f6f;
  cursor: pointer;
}
.btn.btn-primary {
  background: #237986;
  color: #ffffff;
  border-color: #237986;
}
.btn.btn-primary:not(.no-hover):hover,
.btn.btn-primary:not(.no-hover):focus,
.btn.btn-primary:not(.no-hover):active {
  background: #18545e;
  border-color: #18545e;
  cursor: pointer;
}
.btn.btn-info {
  background: #219d8b;
  color: #ffffff;
  border-color: #219d8b;
}
.btn.btn-info:not(.no-hover):hover,
.btn.btn-info:not(.no-hover):focus,
.btn.btn-info:not(.no-hover):active {
  background: #187366;
  border-color: #187366;
  cursor: pointer;
}
.btn.btn-success {
  background: #2d8332;
  color: #ffffff;
  border-color: #2d8332;
}
.btn.btn-success:not(.no-hover):hover,
.btn.btn-success:not(.no-hover):focus,
.btn.btn-success:not(.no-hover):active {
  background: #205d24;
  border-color: #205d24;
  cursor: pointer;
}
.btn.btn-warning {
  background: #f9c23d;
  color: #ffffff;
  border-color: #f9c23d;
}
.btn.btn-warning:not(.no-hover):hover,
.btn.btn-warning:not(.no-hover):focus,
.btn.btn-warning:not(.no-hover):active {
  background: #f7b20c;
  border-color: #f7b20c;
  cursor: pointer;
}
.btn.btn-danger {
  background: #c65444;
  color: #ffffff;
  border-color: #c65444;
}
.btn.btn-danger:not(.no-hover):hover,
.btn.btn-danger:not(.no-hover):focus,
.btn.btn-danger:not(.no-hover):active {
  background: #a54032;
  border-color: #a54032;
  cursor: pointer;
}
.form-group,
.input-group {
  margin-bottom: 15px;
}
.form-group .input-group-addon,
.input-group .input-group-addon {
  border: 1px solid #888888;
  border-radius: 0;
  box-shadow: none;
  background: #888888;
  color: #ffffff;
}
.form-group .input-group-btn > .btn,
.input-group .input-group-btn > .btn {
  border-radius: 0;
}
.form-group .form-control,
.input-group .form-control {
  border: 1px solid #888888;
  border-radius: 0;
  box-shadow: none;
}
.form-group .form-control:hover,
.input-group .form-control:hover,
.form-group .form-control:focus,
.input-group .form-control:focus {
  box-shadow: none;
  border-color: #888888;
}
label {
  cursor: pointer;
}
.panel {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.panel .panel-heading {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.panel .panel-body {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: #ffffff;
}
.panel .panel-footer {
  border: none;
  border-top: 1px solid #f0f0f0;
  border-radius: 0;
  box-shadow: none;
  background: #ffffff;
}
.panel.panel-default .panel-heading {
  background: #888888;
  color: #ffffff;
}
.panel.panel-primary .panel-heading {
  background: #237986;
  color: #ffffff;
}
.panel.panel-info .panel-heading {
  background: #219d8b;
  color: #ffffff;
}
.panel.panel-success .panel-heading {
  background: #2d8332;
  color: #ffffff;
}
.panel.panel-warning .panel-heading {
  background: #f9c23d;
  color: #ffffff;
}
.panel.panel-danger .panel-heading {
  background: #c65444;
  color: #ffffff;
}
.well {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: #404040;
  color: #ffffff;
}
.list-group {
  border: none;
  border-radius: 0;
  background: #ffffff;
}
.list-group .list-group-item {
  border-radius: 0;
  border-color: #888888;
  box-shadow: none;
  background: transparent;
}
.badge {
  color: #ffffff;
  background: #888888;
  border: none;
  border-radius: 0;
}
a.badge {
  background: #237986;
}
a.badge:hover,
a.badge:focus,
a.badge:active {
  color: #ffffff;
  background: #2e9eae;
  text-decoration: none;
}
.label {
  color: #ffffff;
  border: none;
  border-radius: 0;
}
.label.label-default {
  background: #888888;
}
.label.label-primary {
  background: #237986;
}
.label.label-info {
  background: #219d8b;
}
.label.label-success {
  background: #2d8332;
}
.label.label-warning {
  background: #f9c23d;
}
.label.label-danger {
  background: #c65444;
}
.table thead tr td,
.table tbody tr td,
.table tfoot tr td,
.table thead tr th,
.table tbody tr th,
.table tfoot tr th {
  padding: 8px 15px;
}
.table thead tr th,
.table tbody tr th,
.table tfoot tr th {
  background: #ffffff;
}
.alert {
  border: none;
  border-left: 10px solid #888888;
  border-radius: 0;
  background: #ffffff;
  color: #262626;
}
.alert.alert-primary {
  border-color: #237986;
}
.alert.alert-info {
  border-color: #219d8b;
}
.alert.alert-success {
  border-color: #2d8332;
}
.alert.alert-warning {
  border-color: #f9c23d;
}
.alert.alert-danger {
  border-color: #c65444;
}
body {
  color: #000000;
  background: #f0f0f0;
}
body a,
body .btn-link {
  color: #237986;
  text-decoration: none;
}
body a:hover,
body .btn-link:hover,
body a:focus,
body .btn-link:focus,
body a:active,
body .btn-link:active {
  color: #2e9eae;
  text-decoration: underline;
}
.no-spaces {
  margin: 0;
  padding: 0;
}
footer {
  margin: 0;
}
footer.well {
  margin: 0;
}
