.input-search .form-control {
  border-radius: @border-radius-base;
}

.btn-select {
  border: 1px solid @input-border;
  background: @input-bg;
}
.btn-group.open .btn-select,
.btn-select:focus {
  border-color: @input-border-focus !important;
}