@color-primary-100: @color-orange-100;
@color-primary-200: @color-orange-200;
@color-primary-300: @color-orange-300;
@color-primary-400: @color-orange-400;
@color-primary-500: @color-orange-500;
@color-primary-600: @color-orange-600;
@color-primary-700: @color-orange-700;
@color-primary-800: @color-orange-800;

@gray-base: @color-grey-800;
@gray-darkest: @color-grey-700;
@gray-darker: @color-grey-600;
@gray-dark: @color-grey-500;
@gray: @color-grey-400;
@gray-light: @color-grey-300;
@gray-lighter: @color-grey-200;
@gray-lightest: @color-grey-100;

@site-navbar-header-bg: @color-primary-600;
@body-bg: @color-white;
@page-bg: @gray-light;